RewriteEngine on
RewriteCond %{HTTP_HOST} ^axtionsystems\.prospecttoy\.com$
RewriteRule ^/?$ "http\:\/\/axtionsystems\.com\/" [R=301,L]

RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
